<!DOCTYPE html>
<html>
    <head>
        <title>Profile App</title>
        <meta name="google-signin-client_id" content="{{.GoogleAuthClientID}}">
        <script type="text/javascript">
          history.pushState(null, null, location.href);
          window.onpopstate = function () {
            history.go(1);
          };
        </script>
    </head>
    <body>
        <script type="text/javascript">
            function googleSingOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                gapi.auth2.disconnect();
                console.log('User signed out.');
                });
            }

            function onLoad() {
            console.log('{{.GoogleAuthClientID}}');
            gapi.load('auth2', function() {
                gapi.auth2.init();
                gapi.auth2.getAuthInstance().isSignedIn.listen(googleSingOut);
            });
            renderButton();
            }
        </script>
        <p>
            Profile App Login
        </p>
        <form action="/" method="post" id="loginForm">
            <input type="hidden" id="google_id" name="google_id" value="{{ .GoogleID }}">
            <input type="hidden" id="google_email" name="google_email" value="{{ .GoogleEmail }}">
            <table>
                <tr>
                    <td>Sign in with:</td>
                    <td>
                        <div id="my-signin2"></div>
                        <script>
                            function onSuccess(googleUser) {
                                console.log('Logged in as: ', googleUser.getBasicProfile());
                                document.getElementById("google_id").value = googleUser.getBasicProfile().getId();
                                document.getElementById("google_email").value = googleUser.getBasicProfile().getEmail();
                                document.getElementById("loginForm").submit();
                            }
                            function onFailure(error) {
                                console.log(error);
                                document.getElementById("google_id").value = "";
                                document.getElementById("google_email").value = "";
                            }
                            function renderButton() {
                                gapi.signin2.render('my-signin2', {
                                    'scope': 'profile email',
                                    'width': 240,
                                    'height': 50,
                                    'longtitle': true,
                                    'theme': 'dark',
                                    'onsuccess': onSuccess,
                                    'onfailure': onFailure
                                });
                            }
                        </script>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" name="username" value="{{ .Username }}" ></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" value="{{ .Password }}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="login_button"  value="Login"></td>
                </tr>
                {{ with .Errors.Form }}
                <tr>
                    <td></td>
                    <td>{{ . }}</td>
                </tr>
                {{ end }}
            </table>
        </form>
        <form action="/register" method="get">
            <input type="submit" value="New User Sign-up">
        </form>
        <form action="/password_reset_query" method="get">
            <input type="submit" value="Forgot Password">
        </form>
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    </body>
</html>