<!DOCTYPE html>
<html>
<head>
    <title>Profile App - Password Reset</title>
    <script type="text/javascript">
      history.pushState(null, null, location.href);
      window.onpopstate = function () {
        history.go(1);
      };
    </script>
</head>
<body>
    <p>
        Password Reset
        User Profile: {{ .Email }}
        <form action="/" method="get">
            <input type="submit" name="cancel" value="Cancel">
        </form>
    </p>
<form action="/password_reset" method="post">
    <input type="hidden" name="token" value="{{ .Token }}">
    <input type="hidden" name="email" value="{{ .Email }}">
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="email_readonly" value="{{ .Email }}" disabled=true>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" value="{{ .Password }}" ></td>
        </tr>
        <tr>
            <td>Password again:</td>
            <td><input type="password" name="password_check" value="{{ .PasswordCheck }}" ></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="update_button" value="Reset">
            </td>
        </tr>
        {{ with .Errors.Form }}
            <tr>
                <td></td>
                <td>{{ . }}</td>
            </tr>
        {{ end }}
    </table>
</form>
</body>
</html>