<!DOCTYPE html>
<html>
<head>
    <title>Profile App - Password Reset</title>
    <script type="text/javascript">
      history.pushState(null, null, location.href);
      window.onpopstate = function () {
        history.go(1);
      };
    </script>
</head>
<body>
    <p>
        Password Reset
        <form action="/" method="get">
            <input type="submit" name="cancel" value="Back To Login">
        </form>
    </p>
<form action="/password_reset_query" method="post">
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="email" value="{{ .Email }}">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="update_button" value="Send Reset Link">
            </td>
        </tr>
        {{ with .Errors.Form }}
            <tr>
                <td></td>
                <td>{{ . }}</td>
            </tr>
        {{ end }}
    </table>
</form>
</body>
</html>