<!DOCTYPE html>
<html>
    <head>
        <title>Profile App</title>
        <meta name="google-signin-client_id" content="{{.GoogleAuthClientID}}">
        <script type="text/javascript">
          history.pushState(null, null, location.href);
          window.onpopstate = function () {
            history.go(1);
          };
        </script>
    </head>
    <body>
        <script type="text/javascript">
          function googleSingOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              gapi.auth2.disconnect();
              console.log('User signed out.');
            });
          }

          function onLoad() {
            console.log('{{.GoogleAuthClientID}}');
            gapi.load('auth2', function() {
              gapi.auth2.init();
            });
            renderButton();
          }
        </script>
        <p>
            {{if .IsRegister }}
                New user registration
                <form action="/" method="get">
                    <input type="submit" onclick="googleSingOut()" name="logout" value="Existing user login">
                </form>
            {{else}}
                User Profile: {{ .Profile.Email }}
                <form action="/" method="get">
                    <input type="submit" onclick="googleSingOut()" name="logout" value="Logout">
                </form>
            {{end}}
        </p>
        <form id="profileForm" action="{{if .IsRegister}}/register{{else}}/profile{{end}}" method="post">
            <input type="hidden" name="is_editable" value="{{ .IsEditable }}">
            <input type="hidden" name="user_profile_id" value="{{ .Profile.UserProfileID }}">
            <input type="hidden" id="google_id" name="google_id" value="{{ .GoogleID }}">
            <input type="hidden" id="google_email" name="google_email" value="{{ .Profile.Email }}">
            <input type="hidden" name="token" value="{{ .Token }}">
            <table>
                {{if .IsRegister}}
                <tr>
                    <td>Sign up with:</td>
                    <td>
                        <div id="my-signin2"></div>
                        <script>
                            function onSuccess(googleUser) {
                                console.log('Signing up as: ', googleUser.getBasicProfile());
                                document.getElementById("google_id").value = googleUser.getBasicProfile().getId();
                                document.getElementById("google_email").value = googleUser.getBasicProfile().getEmail();
                                googleSingOut();
                                document.getElementById("profileForm").submit();
                            }
                            function onFailure(error) {
                                console.log(error);
                                document.getElementById("google_id").value = "";
                                document.getElementById("google_email").value = "";
                            }
                            function renderButton() {
                                gapi.signin2.render('my-signin2', {
                                    'scope': 'profile email',
                                    'width': 240,
                                    'height': 50,
                                    'longtitle': true,
                                    'theme': 'dark',
                                    'onsuccess': onSuccess,
                                    'onfailure': onFailure
                                });
                            }
                        </script>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                {{end}}
                <tr>
                    <td>Full Name:</td>
                    <td><input type="text" name="full_name" value="{{ .Profile.FullName }}" {{if not .IsEditable}} disabled=true {{end}}></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" name="address" value="{{ .Profile.Address }}" {{if not .IsEditable}} disabled=true {{end}}></td>
                </tr>
                <tr>
                    <td>Telephone:</td>
                    <td><input type="text" name="telephone" value="{{ .Profile.Telephone }}" {{if not .IsEditable}} disabled=true {{end}}></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" name="email" value="{{ .Profile.Email }}" {{if .GoogleID}} disabled=true {{end}}{{if not .IsEditable}} disabled=true {{end}}></td>
                </tr>
                {{ if not .GoogleID}}
                {{if .IsEditable}}
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" value="{{ .Profile.Password }}" {{if not .IsEditable}} disabled=true {{end}}></td>
                </tr>
                {{end}}
                {{ end }}
                <tr>
                    <td>
                        {{if .IsEditable}}
                            {{if not .IsRegister}}
                                <input type="submit" name="cancel_button" value="Cancel">
                            {{end}}
                        {{end}}
                    </td>
                    <td>
                        {{if .IsEditable}}
                            <input type="submit" name="update_button" value="{{if .IsRegister}}Register{{else}}Save & Continue{{end}}" >
                        {{else}}
                            <input type="submit" name="edit_button" value="Edit" >
                        {{end}}
                    </td>
                </tr>
                {{ with .Errors.Form }}
                    <tr>
                        <td></td>
                        <td>{{ . }}</td>
                    </tr>
                {{ end }}
            </table>
        </form>
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    </body>
</html>